*{
  box-sizing: border-box;
}
body{
  font-family: Arial;
}
.card-collection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.standout {
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px, rgb(51,51,51) 0px 0px 0px 3px;
}

h1, h2, h3, h4, h5, p {
  text-align: center;
}

@media only screen and (max-width:600px) {
  .card-collection{
    grid-template-columns: 1fr
  }
}